JWT_SECRET = "114514"
DB_HOST = "127.0.0.1"
DB_USER = "postgres"
DB_PASSWORD = "your_pwd"
DB_NAME = "postgres"
DB_PORT = "5432"

GITHUB_CLIENT_ID = "your_client_id"
GITHUB_CLIENT_SECRET = "your_client_secret"
GITHUB_REDIRECT_URL = "http://localhost:8080/api/oauth/callback"

MAIL_HOST = "smtp.example.com"
MAIL_PORT = "587"
MAIL_USER = "your-email@example.com"
MAIL_PASSWORD = "your-email-password"
